body {
  background-image: url('./images/Bg1.jpeg');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
​
.body__container {
  background-color: rgb(255, 51, 0);
  height: 100%;
  width: 100%;
}

.content{
  background-color: rgba(0, 0, 0, 0.613);
  border: 2px solid gold;
  border-radius: 20px;
  margin: auto;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: fit-content;
  height: 80vh;
  overflow-y: scroll;
  align-items: start;
  grid-template-areas:
    "t t"
    "m m"
    "v v"
    "w c";
}

.title {
  color: white;
  grid-area: t;
}

.weatherApi__container {
  grid-area: w;
}

.countries_list {
  grid-area: c;
}

.music__player {
  color: white;
  grid-area: m;
}

.video__player {
  grid-area: v;
}



.logout-link {
  cursor: pointer;
}

.weatherApi__container{
  margin: auto;
  background-color: rgb(13, 212, 20);
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  -webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
  height: fit-content;
}

.weather__data{
  background-color: rgb(255, 255, 255);
  text-align: center;
  width: fit-content;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
  height: 380px;
}

.weather__textMain{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}

.weather__text0{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__text1{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__text2{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__text3{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__text4{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__text5{
  background-color: lightblue;
  color: black;
  padding-left: 10px;
  border-radius: 20px;
}
.weather__textMain:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
}
.weather__text0:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;

}
.weather__text1:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;
 
}
.weather__text2:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;

}
.weather__text3:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;
  
}
.weather__text4:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;
 
}
.weather__text5:hover{
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-size: larger;
  
}

.country__list{
  max-height: 400px;
  overflow-y: scroll;
  background-color: rgb(248, 198, 198);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
.country__choice{
  max-height: fit-content;
  background-color: lightgray;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  max-height: 600px;
  overflow-y: scroll;
}

.yt__title{
  color: white;
}